body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: #000;
	}
	
body.barley {
	margin: 0px;
	background-color: #A2A144;
	}
	
p {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #000;
	margin: 4px;
	}
	
p.selection {
	font: bold 14px/15px Courier New, Courier, mono;
	margin-left: 8px;
	}

p.minititle {
	font: bold 14px/15px Courier New, Courier, mono;
	color: #69672A;
	margin-left: 16px;
	}

li {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #666;
	margin: 12px;	
	list-style: decimal;
	}
	
a {
	font-weight: bold;
	}

a:link {
	color: #000;
	text-decoration: underline;
	}

a:visited {
	color: #000;
	text-decoration: underline;
	}

a:hover {
	color: #FFF;
	text-decoration: underline;
	}

a:active {
	color: #FFF;
	text-decoration: none;
	}
/*
     FILE ARCHIVED ON 04:21:49 Jul 17, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:51:15 May 15, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 2.157
  load_resource: 103.071
  PetaboxLoader3.resolve: 46.853
  PetaboxLoader3.datanode: 55.57
*/